<div>
    <label id="ArticalTitle">השיפוץ שלי</label>
    <h4>פורסם בתאריך:23.4.4.</h4>
    <div class="imgArtical">
<img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
">
    </div>
    <div id="introduction">
        fngnb vfklvnfk  nfvnfkvfc  vfklvnfk
        cdcnjdlv
        vdvdfvfvfffffffffffvfvfvfvf
    </div>
    <br>
    <div id="BodyArtical">
        <div class="partArtical">
lfkdvnfdlknflknfd dfvfdvfdv
        </div>
        <br>
        <div class="partArtical">
scdscdsv
vdsvdsvdsf
        </div>
        <div class="partArtical">
            lfkdvnfdlknflknfd dfvfdvfdv
                    </div>
                    <br>
                    <div class="partArtical">
            scdscdsv
            vdsvdsvdsf
                    </div>
                    <div class="imgArtical">
                        <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
                        ">
                    <div class="partArtical">
                        lfkdvnfdlknflknfd dfvfdvfdv
                                </div>
                                <br>
                                <div class="partArtical">
                        scdscdsv
                        vdsvdsvdsf
                                </div>
        
    </div>
    <div>
        <h4 id="aothor"> פורסם ע"י : אנה גולד</h4>
    </div>
</div>
