<div>
    <div>
        <h1>ריצוף</h1>
        <div>
        <h2 class="SubpictcherMaterialTitel">ריצוף</h2>
        <div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="https://img.zap.co.il/pics/0/0/2/4/57354200b.gif">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <h2 class="SubpictcherMaterialTitel">חומרים נלווים</h2>
        <div>
        <div class="imgMatrial">
            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRqVrgV6pjOjq7_iRvAemjwbrrX68V2nIjvz81GFzaGwFagTuV_xog1R4huEIHP4l9_gLbO-sB9Q41IlUUYqxHAMSMCAMvXb14WPzSj76ns&usqp=CAE">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
    </div></div></div>
    <div>
        <h1>צביעה</h1>
        <div>
        <h2 class="SubpictcherMaterialTitel">צביעה</h2>
        <div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <h2 class="SubpictcherMaterialTitel">חומרים נלווים</h2>
        <div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
        <div class="imgMatrial">
            <img src="data:image/webp;base64,UklGRvo+AABXRUJQVlA4IO4+AAB…GyYzIEJU0wHiqCf1V5MGoiwqtnGhclp/V0i5LkShU3hJiAAA=
            ">
            <div class="detialsMaterial">fvfvf</div>
        </div>
    </div></div></div>
</div>
