example-panel-red.div {
  background: rgba(255, 0, 0, 0.5);
}

.dddd {
  background: rgba(0, 255, 0, 0.5);
}

.hhhhh{
  background: rgba(0, 0, 255, 0.5);
}
.SelectedCategory {
  background-color: #FFFFFF;
  padding: 5px;
}
.option-selected {
  background-color: #008080;
  color: #FFFFFF;
}